.container {
  max-width: 100%;
  background-color: rgb(32, 33, 36);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
}
.main-bar,
.right-menu {
  display: flex;
}
.g-container {
  border-top: 1px solid black;
  color: #fff;
  padding: 30px;
  background-color: rgb(32, 33, 36);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
  background-color: #333537;
  height: 40px;
  width: 40px;
  margin: 6px;
  padding: 7px;
  cursor: pointer;
  border-radius: 50%;
}
.icons:hover {
  background-color: #7b7b7b;
}
